#site-name a {
    width: 110px;
    height: 98px;
    background-image: url(./logo.png);
}

#user-tools{ margin-top: 28px }
#header, .module caption {
    background: #005e89 url(./header-bg.jpg) repeat-x 0 0;
}

div.breadcrumbs, .module h2,
.inline-group h2, #container .selector-chosen h2 {
    background-color: #002b3f;
    color: #fff;
}

div.breadcrumbs,
#user-tools a:focus, #user-tools a:hover{
    color: #dceef6
}
#user-tools a:focus, #user-tools a:hover{
    border-bottom-color: #dceef6;
}
div.breadcrumbs a:focus, div.breadcrumbs a:hover{
    color: #f0f8fb
}

#netjsonconfig-hint, #netjsonconfig-hint a,
#container .field-backend a{
    color:#002b3f;
}

#changelist-filter li.selected a{
    color: #002b3f !important
}

.object-tools a:link, .object-tools a:visited{
    background-color: #417690
}

.button.default,
input[type=submit].default,
.submit-row input.default,
.object-tools a:focus,
.object-tools a:hover{
    background-color: #002b3f;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover{
    background-color: #000;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: #005e89;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: #004566;
}
